@import '../../common/variable.scss';

.root {
  padding: 2.5rem 0 4.875rem;
  max-width: $conWidth;
  margin: 0 auto;
  // 제목
  h1 {
    font: $h1;
    color: $primayrColor;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  h1:nth-child(1) {
    margin-top: 0px;
  }
}
// youtube
.Youtube {
  max-width: 73.75rem;
  overflow: hidden;
  position: relative;
  width:100%;
  margin: 0 auto;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.Youtube::after {
  padding-top: 56.25%;
  display: block;
  content: '';

}
.CommitersContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  grid-row-gap: 1.25rem;
  justify-items: center;
  .Committer {
    width: 17.5rem;
    height: 17.5rem;
    padding: 1.25rem;
    border: 1px solid #bfbfbf;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .githubLink:hover {
      transform: scale(1.2);
    }
    p:nth-child(1) {
      div {
        width: 5rem;
        height: 5rem;
        border-radius: 5rem;
        border: solid 1px black;
        overflow: hidden;
      }
      p {        
          text-align: center;
          font-weight: bold;
          margin-bottom: -1.125rem;
          font-size: .875rem;
      }
    }
    p:nth-child(2) {
      font: $h5;
      font-weight: bold !important;
    }
    p:nth-child(3) {
      font: $h6;
    }
    p:nth-child(4) {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
