@import '../../common/variable.scss';

.Index {
  padding: 0 3rem;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .topSection{
    padding-bottom: 0px !important;
  }
  section {
    width: 100%;
    padding: 3.75rem 1rem !important;

    .topContent{
      display: flex; 
      align-content: center; 
      justify-content: center; 
      align-items: center;
      flex-direction: column;
      padding: 0 5%;
      .card {
        display: flex; 
        align-content: center; 
        justify-content: space-around; 
        align-items: flex-start;
        position: relative;
        flex-direction: row;
        border: 0.0625rem solid white;
        background-color: white;
        height: max-content;
        border-radius: 10px;
        width: 100%;
        flex-wrap: wrap;
        text-align: left;
        padding: 2rem;
        position: relative;
        margin-top: -8rem;
        box-shadow: 0rem 0.75rem 1.5rem #00000029;

        .cardContent {
          padding: 3rem 3rem 2rem 0;
          color: black;
          font: normal normal normal 1.25rem/1.875rem Mark Pro;

        }
        .cardLeft {
          font: normal normal 500 1.875rem/3.6875rem Mark Pro;
          color: $primayrColor;
          text-transform: none;
          flex: 1 1 40%;
          padding: 0 0 0 3rem;

        }
        .verticalLine{
          border-left: 1px solid #d1d1d1;
          height: 19rem;
          position: relative;
          top: 3rem;
        }
        .cardRight {
          font: normal normal 500 1.875rem/3.6875rem Mark Pro;
          color: $primayrColor;
          text-transform: none;
          flex: 1 1 40%;
          padding: 0 0 0 3rem;
        }
      }
      .videos {        
        width: 100%;        
        text-align: center;
      }
      .keyFeatures {
        width: 100%;
        position: relative;
        padding: 0 0 3rem;
        h2 {
          font: $h1;
          color: $primayrColor;
          text-align: center;
          margin: 1rem 0 1rem 0;
        }
        .keyFeaturesImgContainer {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-row-gap: 1rem;
          justify-items: center;
          margin: 0 auto;
          width: auto;
          grid-template-columns: repeat(auto-fill, minmax(25%, auto));
          @media screen and (max-width: 80rem) {
            grid-template-columns: repeat(auto-fill, minmax(50%, auto));
          }

          div {
            text-align: center;
            img {
              width: 100%;
              height: auto;
              padding: 5% 20%;
            }
            div {
              padding: 5% 0;
              width: 100%;
              text-transform: none;
              color: $textColor;
            }
            div:nth-child(n+1):nth-child(-n+2) {
              font: normal normal bold 1.25rem/1.75rem Mark Pro;
              letter-spacing: 0.6px;
            }
            div:nth-child(n+3):nth-child(-n+4) {
              width: 100%;
              padding: 0% 10%;
              font: normal normal normal 1rem/1.25rem Mark Pro;
              letter-spacing: 0px;
            }
          }
          
        }
      }
    }
    .content {
      width: 100%;
      max-width: $landingConWidth;
      margin: 0 auto;
      > h2 {
        font: $h1;
        color: $primayrColor;
        text-align: center;
      }
      > h3 {
        font: $h4;
        color: $primayrColor;
        text-align: center;
      }
      > p {
        text-align: center;
        font-size: 1.25rem;
        color: $textColor;
        margin-bottom: 1.75rem;
        > a {
          color: white;
          text-decoration: underline;
        }
      }
     
      // youtube
      .Youtube {
        max-width: 73.75rem;
        overflow: hidden;
        position: relative;
        width:100%;
        margin: 0 auto;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      .Youtube::after {
        padding-top: 56.25%;
        display: block;
        content: '';
      }
      // invite discord
      .inviteDiscord {
        display: flex;
        max-width: 30rem;
        height: 16.25rem;
        background-image: url('/img/discord-invite.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #404EEE;
        border-radius: 16px;
        margin: 0 auto;
        align-items: center;        
        justify-content: center;
        img {
          width: 140px;          
          margin-top: -150px;
        }
        margin-bottom: 2.625rem;
      }
      // Subscribe mail image
      .Subscribe {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 17.375rem;
          height: 19.375rem;
        }
      }
      // Subscribe Link
      .SubscribeLink {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 1rem;
        justify-items: center;
        margin: 0 auto;
        width: auto;
        grid-template-columns: repeat(auto-fill, minmax(33%, auto));
        padding: 0px 10%;
        @media screen and (max-width: 48rem) {
          grid-template-columns: repeat(auto-fill, minmax(100%, auto));
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 12.5rem;
          height: 2.5rem;
          font: normal normal 500 1.125rem Mark Pro;
          border: solid 2px #fff;
          border-radius: 40px;
          margin-bottom: 1rem;
          color: $primayrColor;
        }


        a:nth-child(odd) {
          background-color: white;
          border: 1px solid $primayrColor;
        }
        a:nth-child(odd):hover {
          background-color: $secondColor;
          color: white;
        }
        a:nth-child(even) {
          background-color: $primayrColor;
          border: 1px solid $primayrColor;
          color: white;
        }
        a:nth-child(even):hover {
          background-color: $secondColor;
          color: white;
        }
      }
    }
    padding: 3.375rem 0rem;
  }
  section:nth-child(odd) {
    background-color: $thirdColor;
  }
  section:nth-child(even) {
    background-color: white;
  }
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #e6e3f6;
  min-height: 27.5rem;
  height: 100%;
  width: 100%;
  padding: 1rem 1rem 10rem;
  .bannerContent {
    max-width: $landingConWidth;
    margin: 0 auto;
    padding-top: 6.25rem;
    padding-bottom: 4.375rem;
    padding: 2%;
    white-space: wrap;
    h1 {
      span {
        font-size: 50px;
        font-weight: bold;
      }
      font: $landing;
      color: #fff;
      line-height: 1.1; /* 줄 간격을 설정합니다. 값을 조정하여 원하는 간격을 찾으세요. */
    }
    h2 {
      span {
        font-size: 20px;
        font-weight: bold;
      }
      font: $landing;
      color: #fff;
      line-height: 0.2; /* 줄 간격을 설정합니다. 값을 조정하여 원하는 간격을 찾으세요. */
    }

    div {
      margin-top: 0.875rem;
      margin-bottom: 8rem;
      font-size: 1.25rem;
      color: #fff;
      max-width: 43.125rem;
    }
    a {
      font: $h5;
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;
      margin: 2rem 0.625rem;
      padding: 1rem;
      text-align: center;
      vertical-align: middle;
      height: 3.625rem;
      /* UI Properties */
      border: 0.125rem solid #fff;
      border-radius: 1.8125rem;
      opacity: 1;
      background-color: $secondColor;
      color: #fff;
      height: 2.5rem;
    }
    a:hover {
      background-color: $primayrColor;
      color: #fff;
    }
    a:last-child {
      background-color: #fff;
      color: $secondColor;
    }
    a:last-child:hover {
      background-color: $primayrColor;
      color: #fff;
    }
  }
}
