@import '../../common/variable.scss';

.root {  
  // description for seo
  .description {
    font: $h6;
    color: $textColor;
  }

  // 제목
  h1 {
    font: $h1;
    color: $primayrColor;
  }
  // 본문
  p {
    font: $h6;
    color: $textColor;
  }
  li {
    font: $h6;
    color: $textColor;
  }
  span {
    font: $h6;
    color: $textColor;
  }  
  padding: 0rem 2rem 4.875rem;
  max-width: $conWidth;
  margin: 0 auto;
}

// overview banner 
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  // background-color: #E6E3F6;
  min-height: 18.125rem;
  height: 100%;
  width: 100%;
  padding: 1rem;
  .bannerContent {
    h1 {
      text-align: center;
      margin: 0;
      font: $landing;
      color: $primayrColor;
    }
    h1:nth-child(2) {
      font-size: 3rem;
      color: $primayrColor;
    }
  }
}

.bannerContent {
  a {
    font: $h6;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 0 0.625rem;
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
    width: 11.25rem;
    height: 2.5rem;
    /* UI Properties */
    border: 0.125rem solid $primayrColor;
    border-radius: 1.8125rem;
    opacity: 1;
    background-color: #fff;
    color: $primayrColor;
  }
  a:hover {
    background-color: $primayrColor;
    color: #fff;
  }

}
.keyFeatures {
  width: 100%;
  h2 {
    font: $h1;
    color: #fff;
    text-align: center;
    margin: 5rem 0;
  }
  .keyFeaturesImgContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 1rem;
    justify-items: center;
    margin: 0 auto;
    width: auto;
    grid-template-columns: repeat(auto-fill, minmax(25%, auto));
    @media screen and (max-width: 48rem) {
      grid-template-columns: repeat(auto-fill, minmax(50%, auto));
    }

    div {
      text-align: center;
      img {
        width: 100%;
        height: auto;
        padding: 10%;
      }
      div {
        padding: 5% 0;
        width: 100%;
        text-transform: none;
        color: $textColor;
      }
      div:nth-child(n+1):nth-child(-n+2) {
        font: normal normal bold 1.25rem/1.75rem Mark Pro;
        letter-spacing: 0.6px;
      }
      div:nth-child(n+3):nth-child(-n+4) {
        width: 100%;
        padding: 0% 10%;
        font: normal normal normal 1rem/1.25rem Mark Pro;
        letter-spacing: 0px;
      }
    }
    
  }
}