@import '../../common/variable.scss';

.root {
  margin: 0.75rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
  max-width: 90.125rem;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  /* UI Properties */
  opacity: 1;
  .Contributors {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 0.25rem solid $thirdColor;
    border-radius: 1.625rem;
    box-shadow: 0rem 0rem 1.5rem #cf0e5330;
    > h3 {
        font: $h3;
        color: $primayrColor;
        text-align: center;
        font-weight: bold;
    }
    p {
      margin: 1rem 0 0 0;
      text-align: center;
      font: $h4;
    }
  }
  .Separator {
    border: 1px solid #ffffff;
    width: 1px;
    margin: 0 0.75rem;
  }
  .Users {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    .Rank {
        display:flex;
        align-items: center;
        justify-content: center;
        >p {
            margin: 0;
        }

        .Avatar {
            border-radius: 50%;
            object-fit: contain;
            width: 40px;
            height: 40px;
            margin-left: 3rem;
        }
    }

    .User {
        display:flex;
        align-items: center;
        justify-content: center;
        >p {
            margin-top: 0;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
  }
}

.Repos {
    margin: 2.75rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    max-width: 80.125rem;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    /* UI Properties */
    opacity: 1;
  .ReposSeparator {
    border: 1px solid #ffffff;
    width: 1px;
  }
  > h3 {
    font: $h3;
    color: $primayrColor;
    text-align: center;
    font-weight: bold;
  }
}

/* Small Device (portrait and landscape) ----------- */
@media only screen and (max-device-width: 1024px) {
  /* Styles */
  .root {
    border-radius: 4.625rem;
    grid-template-columns: 1fr;
    .Contributors {
      padding: 0;
    }
    .Section {
      width: 100%;
    }
    .Rank {
      width: 40%;
    }
    .User {
      width: 60%;
    }
  }
  .Separator {
    height:2rem;
  }
  .Repos {
    display:none;
  }
}
