@import '../../common//variable.scss';

.root {
  margin: 2.75rem auto 0 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  max-width: 1170px;
  min-height: 250px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  /* UI Properties */
  background: white 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 24px #ffffff29;
  border: 4px solid #cfb3ff;
  border-radius: 4.6875rem;
  opacity: 1;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23.75rem;
    text-align: center;
    color: #873df2;
  }
  div:nth-child(2) {
    border: 1px solid;
    width: 1px;
    height: 10rem;
  }
  

  .Count {
    font-size: 100px;
    font-weight: bold;
  }
  .Label {
    font: $h4;
    font-weight: bold;
  }
}
