@import '../../common//variable.scss';

.root {
  margin: 2.75rem auto 0 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  max-width: 73.125rem;
  min-height: 15.625rem;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  /* UI Properties */
  background: white 0% 0% no-repeat padding-box;
  border: 0.25rem solid $primayrColor;
  border-radius: 15.625rem;
  opacity: 1;
  box-shadow: 0rem 0rem 1.5rem #CF0E5330;
  a:hover {
    color: $secondColor;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23.75rem;
    text-align: center;
    color: $primayrColor;
  }
  div:nth-child(2) {
    border: 1px solid;
    width: 1px;
    height: 10rem;
  }
  

  .Count {
    font-size: 6.25rem;
    font-weight: bold;
    color: $primayrColor;

  }
  .Label {
    font: $h4;
    @media only screen and (max-width: 480px) {
      font: $h5;
    }
    font-weight: bold;
  }
}
