@import '../../common/variable.scss';

.button-back {
  // 기본 스타일 설정
  padding: 0.5em 1em; // 패딩
  border: none; // 테두리 없음
  background-color: #B8145A; // 배경색
  color: white; // 텍스트 색상
  text-align: center; // 텍스트 중앙 정렬
  text-decoration: none; // 텍스트 밑줄 없음
  display: inline-block; // 인라인 블록 표시
  font-size: 16px; // 폰트 크기
  border-radius: 8px; // 모서리 둥글게
  cursor: pointer; // 커서 포인터 모양으로 변경

  // 마우스 오버 시 스타일 변경
  &:hover {
    background-color: #B8145A; // 호버 상태의 배경색
  }

  // 포커스 시 스타일 변경
  &:focus {
    outline: none; // 포커스 아웃라인 제거
    box-shadow: 0 0 8px rgba(0,0,0,0.6); // 박스 그림자 추가
  }

  // 활성화(클릭) 상태 스타일
  &:active {
    background-color: #B8145A; // 클릭 상태의 배경색
  }
}

.section {
  padding: 1% 10%; // 상하 패딩은 0, 좌우 패딩은 10%
}
