.mainContent {
    padding: 2rem;
    max-width: 1800px;
    margin: 0 auto;
  }
  
  .article {
    margin-bottom: 2rem;
  }
  
  .blogListItem {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1rem;
  }
  
  .title {
    font-size: 2rem;
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  .date {
    font-size: 1rem;
    color: #666;
  }
  
  .featuredThumbnail {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .keepReading {
    display: inline-block;
    margin-top: 1rem;
    color: #007acc;
    text-decoration: none;
  }
  