.mainContent {
    padding: 2rem;
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 10%;  // 왼쪽에 공백을 추가합니다.
    padding-right: 10%; // 오른쪽에 공백을 추가합니다.
  }
  
  .article {
    margin-bottom: 2rem;
  }
  
  .blogListItem {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1rem;
  }
  
  .title {
    font-size: 2rem;
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  .date {
    font-size: 1rem;
    color: #666;
  }
  
  .featuredThumbnail {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .keepReading {
    display: inline-block;
    margin-top: 1rem;
    color: #007acc;
    text-decoration: none;
  }
  