@import '../../common/variable.scss';
.root {
  padding: 1rem;
  min-height: 21.25rem;
  background-color: $thirdColor
}

.Sitemap {
  padding-top: 2rem;
  margin: 0 auto;
  max-width: 85.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  @media only screen and (max-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  }
  flex-wrap: wrap;  
  color: #8b8399 !important;
  a {
    color: #8b8399;
  }

  ul:nth-child(4) {
    li {    
      margin-bottom: 1.25rem;  
      a {
        font-weight: bold;
        font-size: 1.25rem;
      }
    }
  }


  .Item {
    // ul
    padding: 0;
    padding-left: 20%;
    width: 100%;
    max-width: 16rem;
    list-style: none;
    color: $textColor;
    li:first-child {
      font-weight: bold;
      font-size: 1.25rem;
    }
    li {    
      margin-bottom: 1.25rem;  
      a {
        color: black;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
}
.Social {
  padding: 2.5rem 4rem 0;
  border-top: solid 1px #8b8399;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .Links {
    display: flex;
    flex-direction: row;
    a {
      padding: 1rem;
    }
    a img {
      transition: all 0.2s linear;
    }
    a:hover img {
      transform: scale(1.2);
    }
    
  }
  p {
    font-size: 14px;
    display: inline-block;
    color: $textColor;
  }
}
