.LandingFooter {
  background-color: #913ef3;
}
.LandingFooter > .Sitemap {
  color: #fff !important;
}

.LandingFooter > .Sitemap a {
  color: #fff;
}

.LandingFooter > .Social {
  border-top: solid 1px #fff;
}

.LandingFooter > .Social p {
  color: #fff;
}
