.LandingFooter {
  background: linear-gradient(#7d43bd, #491F79);
}
.LandingFooter > .Sitemap {
  color: #fff !important;
}

.LandingFooter > .Sitemap a {
  color: #fff;
}

.LandingFooter > .Social {
  border-top: solid 1px #fff;
}

.LandingFooter > .Social p {
  color: #fff;
}
