@import '../../common/variable.scss';

.cardRoot {
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(380px, auto));
  grid-row-gap: 2.5rem;
  list-style: none;
  padding: 0;
  width: auto;
  //1644 * 766
  max-width: 102.75rem;
  margin-bottom: 4rem;
  // overflow-y: scroll;
}
.MoreBtn {
  cursor: pointer;
  width: 13rem;
  height: 2.5rem;
  /* UI Properties */
  background: $secondColor;
  border-radius: 40px;
  opacity: 1;
  font: $h5;
  color: #fff;
  border: none;
}
.MoreBtn a {
  background: $secondColor;
  color: #fff;
}
.MoreBtn a:hover {
  background-color: #fff;
  color: $primayrColor;
}
.MoreBtn:hover {
  background-color: #fff;
  color: $primayrColor;
}
.buttonGroup{
  display: flex; 
  flex-direction: row;
  align-content: center; 
  justify-content: center; 
  align-items: center;
  margin: 0px;
  padding: 0;
  column-gap: 2.5rem;
}