@import '../../common/variable.scss';

.root {
  width: 22.5rem;
  height: 16.375rem;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 30px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.5rem 0.9375rem;
  div {
    width: 100%;
    padding: 20px 20px 0px;
    max-height: 13.9375rem;
  }
  p {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: $primayrColor;
  }
  .title {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    height: 5rem;

  }
  .update {
    font-weight: normal;
    font-size: 16px;
  }
  .desc {
    font-weight: normal;
    font-size: 16px;
    height: 3.4375rem;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    /* UI Properties */
    background-color: $primayrColor;
    color: #fff;
    border-radius: 0px 0px 30px 30px;
    font-size: 1.3rem;
  }
  .link:hover {
    background-color: $primayrColor;
    color: #fff;
  }
}
.root:hover {
  width: 22.5rem;
  height: 16.375rem;
  overflow: hidden;
  div {
    background-color: $secondColor;
    padding: 20px 20px 0px;
    p {
      color: #fff;
    }
  }
  .link {
    background-color: #fff;
    color: $secondColor;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
  }
  box-shadow: $shodow;
}

.rootToggle {
  width: 22.5rem;
  height: 16.375rem;
  padding: 62px 26px 0px;
  border: 4px solid $primayrColor;
  box-shadow: $shodow;
  cursor: pointer;
}
