$shodow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$shodow2: 0px 3px 6px #00000029;
$landingConWidth: 105rem;
$conWidth: 73.75rem;
$navHeight: 3.75rem;

// color
$primayrColor: #B8145A;
$secondColor: #9F1A61;
$thirdColor: #FCF3F6;
$bgColor: #eae7ef;
$textPrimary: #472E77;
$textColor: #000000;
$shyTextColor: #767676;

// font
$landing: normal normal bold 4.5rem Mark Pro; //64px
$h1: normal normal bold 3rem Mark Pro; //48px
$h2: normal normal 500 3rem Mark Pro; //48px
$h3: normal normal 500 2.25rem Mark Pro; // 36px
$h4: normal normal 500 1.5rem Mark Pro; // 24px
$h5: normal normal 500 1.125rem Mark Pro; // 18px
$h6: normal normal normal 1.125rem Mark Pro; //18px
