on:
  push:
    branches:
      - master

name: build gatsby
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - name: Checkout new-web branch
      uses: actions/checkout@v5
      with:
          ref: new-web
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v5
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
    - run: yarn install
    - run: yarn run build
    - run: cp .asf.yaml ./public

    - name: Deploy web
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: asf-site
        publish_dir: ./public
        destination_dir: ./

    - name: Checkout master branch
      uses: actions/checkout@v5
      with:
          ref: master

    - name: Fetch all branches
      run: git fetch --all

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'

    - name: Upgrade pip
      run: |
        # install pip=>20.1 to use "pip cache dir"
        python3 -m pip install --upgrade pip
    - name: Get pip cache dir
      id: pip-cache
      run: echo "::set-output name=dir::$(pip cache dir)"

    - name: Cache dependencies
      uses: actions/cache@v4
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    
    - name: Install dependencies
      run: python3 -m pip install -r ./requirements.txt

    - run: sphinx-multiversion docs build/html

    - run: cp ./index.html ./build/html

    - name: Deploy documentation
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: asf-site
        publish_dir: ./build/html
        destination_dir: ./age-manual
